# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/node_modules
node_modules
node_modules/
ayp-ui/node_modules/.cache/.eslintcache
ayp-ui/node_modules/.cache/default-development/index.pack
ayp-ui/node_modules/.cache/default-development/0.pack
ayp-ui/node_modules/.cache/babel-loader/ffebc85b52946c85711a7cb9caae7c6e.json
ayp-ui/node_modules/.cache/babel-loader/fe15b25688a21c2d512525de811965fb.json
ayp-ui/node_modules/.cache/babel-loader/fb659b1c035c6d03f740288ce54bb0f6.json
ayp-ui/node_modules/.cache/babel-loader/fa09bff2cfa3c0ec02029e3d93c368c5.json
ayp-ui/node_modules/.cache/babel-loader/f95b1697abf3613d01b8ae20daf759b1.json
ayp-ui/node_modules/.cache/babel-loader/f5f80d9d93e8352cec0a9399bd6b0514.json
ayp-ui/node_modules/.cache/babel-loader/ede60643421810aa08f7a04538e6f325.json
ayp-ui/node_modules/.cache/babel-loader/e23a9f58b2064570ea12194690dc2880.json
ayp-ui/node_modules/.cache/babel-loader/d8697ddb32ace4ff93828c0d027475f6.json
ayp-ui/node_modules/.cache/babel-loader/d5609a5d99e067e43561f0b9126ad497.json
ayp-ui/node_modules/.cache/babel-loader/d2177c228da455fe258c45772dee17c0.json
ayp-ui/node_modules/.cache/babel-loader/d0050ff66fbd04706f44fe9d316687df.json
ayp-ui/node_modules/.cache/babel-loader/cf44aee11952088283bad38d7a37bc17.json
ayp-ui/node_modules/.cache/babel-loader/cdd047cb64f18659b9427aa1ed129d4e.json
ayp-ui/node_modules/.cache/babel-loader/cd61dcff21223ef30a462a61c49bc05d.json
ayp-ui/node_modules/.cache/babel-loader/c8c94f87955d145a3ff8cf6545fb25b0.json
ayp-ui/node_modules/.cache/babel-loader/c64699b4a58b5e8f55c3753ad35f19bd.json
ayp-ui/node_modules/.cache/babel-loader/c2272485590bc5694b44b53b4d7d4593.json
ayp-ui/node_modules/.cache/babel-loader/bfb7dba8e1d6bbb57832b10691d9f0d5.json
ayp-ui/node_modules/.cache/babel-loader/bc21c6e0245e3a9bd3c231b1ba43f7d6.json
ayp-ui/node_modules/.cache/babel-loader/bbc6632f3edc9221697a0c303870dd7d.json
ayp-ui/node_modules/.cache/babel-loader/b5931cd5c8bab47ce38c42707dc2b523.json
ayp-ui/node_modules/.cache/babel-loader/b4410e408ec28566a5abd754654db751.json
ayp-ui/node_modules/.cache/babel-loader/b184be43086e2b0058751d3863933213.json
ayp-ui/node_modules/.cache/babel-loader/b0a6d0da50fd7d2d4de43fb49776df35.json
ayp-ui/node_modules/.cache/babel-loader/ae194814c1aec272e1ca44b915ce1fd9.json
ayp-ui/node_modules/.cache/babel-loader/a796d644a13e92553fb1bdd57fba458f.json
ayp-ui/node_modules/.cache/babel-loader/a768972e2902cd9bb09a8f2d950465df.json
ayp-ui/node_modules/.cache/babel-loader/a7384021e988fba02a5694c9160d5e4f.json
ayp-ui/node_modules/.cache/babel-loader/a6288c8affbabb3c3ef7ad19de5fa216.json
ayp-ui/node_modules/.cache/babel-loader/9c67de8e1919e2aa1a70e2f341eb174b.json
ayp-ui/node_modules/.cache/babel-loader/9bd77b8ada5e6b239e4417abe1806558.json
ayp-ui/node_modules/.cache/babel-loader/9bb6f162fe128d79f815f09b405da62e.json
ayp-ui/node_modules/.cache/babel-loader/9b558082e1ac1006d5a2f72b89f7f1d6.json
ayp-ui/node_modules/.cache/babel-loader/95820f9727444827ed92ab91c9088874.json
ayp-ui/node_modules/.cache/babel-loader/911b802854d3ae4a9e4faeb42dc15c11.json
ayp-ui/node_modules/.cache/babel-loader/90116883c181dbf6fc677b928665c09a.json
ayp-ui/node_modules/.cache/babel-loader/8ca959c356ef83d30753d383a71d71c9.json
ayp-ui/node_modules/.cache/babel-loader/8a63a02b5ed51b8c9097b63bf11d7887.json
ayp-ui/node_modules/.cache/babel-loader/85f5416fc5903526e90335153ceaa87f.json
ayp-ui/node_modules/.cache/babel-loader/85d854e9b08b96a76e3e1a05db5038ab.json
ayp-ui/node_modules/.cache/babel-loader/824ecf2fc601b2924b8bb1dbbb36d622.json
ayp-ui/node_modules/.cache/babel-loader/819c68c8888b916dfc7316ee7cb879dd.json
ayp-ui/node_modules/.cache/babel-loader/7ea1f778a84bebe2219676ddfe84caf0.json
ayp-ui/node_modules/.cache/babel-loader/7d5752de5d8a7cc31fc951f5ee070264.json
ayp-ui/node_modules/.cache/babel-loader/76eb529e8ae9e229557862abd7ea4a02.json
ayp-ui/node_modules/.cache/babel-loader/747039af3a2c476d72213224f302bc0e.json
ayp-ui/node_modules/.cache/babel-loader/73953c86ae68c2cc5eb39a0c9d249705.json
ayp-ui/node_modules/.cache/babel-loader/6f4d1c6bd4218afac17024c15b80a817.json
ayp-ui/node_modules/.cache/babel-loader/6f08bddf5a0685c57d24bc1751c73c64.json
ayp-ui/node_modules/.cache/babel-loader/6d8975d345912b17527eb9d6d10c6d7d.json
ayp-ui/node_modules/.cache/babel-loader/6ccb6fba521f736f4d1b76cb2dd9ad56.json
ayp-ui/node_modules/.cache/babel-loader/67b66e37fd5ff92c7f29db4a4e03cd24.json
ayp-ui/node_modules/.cache/babel-loader/65e66343b291ca86df9f0f40a50dfc74.json
ayp-ui/node_modules/.cache/babel-loader/5fe9f25d866f3cada9a5a0b2457ac48c.json
ayp-ui/node_modules/.cache/babel-loader/5f344d5e4ca8a88549ef2639837ee1d2.json
ayp-ui/node_modules/.cache/babel-loader/5d0bab3d39d7aed82bfa162c965a2ee6.json
ayp-ui/node_modules/.cache/babel-loader/597b557e89735dbee7e0f9c7ac0a3f12.json
ayp-ui/node_modules/.cache/babel-loader/5963573a927184b2e365f7fec94104bf.json
ayp-ui/node_modules/.cache/babel-loader/5489645c6be1a73a07d5fe647ce83219.json
ayp-ui/node_modules/.cache/babel-loader/535214e6e36071a36cdb7702b99bd47e.json
ayp-ui/node_modules/.cache/babel-loader/530e358079dd85cd7d86230513150b43.json
ayp-ui/node_modules/.cache/babel-loader/4e001382543540d4cfa53ec8dbca6c25.json
ayp-ui/node_modules/.cache/babel-loader/4976bebcfed36dd040dc0bb162dedccd.json
ayp-ui/node_modules/.cache/babel-loader/495c4d7ce9d6dda12528f53d1538ce51.json
ayp-ui/node_modules/.cache/babel-loader/4169fb5ee4df07628c3cea94d94de58a.json
ayp-ui/node_modules/.cache/babel-loader/415504924769199e54bc2fb0036e82de.json
ayp-ui/node_modules/.cache/babel-loader/3e6a3fb480ee99014891f562452c6243.json
ayp-ui/node_modules/.cache/babel-loader/3c5edd9e7be9b352a6a4a92fd72cecab.json
ayp-ui/node_modules/.cache/babel-loader/3a2f27744d79b7d881dafb91dba1c311.json
ayp-ui/node_modules/.cache/babel-loader/34e940b35f6f2ffbe49183f4f8b5c0fc.json
ayp-ui/node_modules/.cache/babel-loader/349d8f8135805bcbbbf7e83c6cdccc23.json
ayp-ui/node_modules/.cache/babel-loader/346fd4dd61aad71cd9c0f50a313cb720.json
ayp-ui/node_modules/.cache/babel-loader/32a5dcddd76a705a796ff2e5a39c907d.json
ayp-ui/node_modules/.cache/babel-loader/31c4c95405f183b8f88a6ea57da1c6ad.json
ayp-ui/node_modules/.cache/babel-loader/31482c602fe0e914a791064f8b3f33f9.json
ayp-ui/node_modules/.cache/babel-loader/2d5f4ccb9ad20122d54520b522e87346.json
ayp-ui/node_modules/.cache/babel-loader/2a846fd5fd18ae546f8aea598dda408d.json
ayp-ui/node_modules/.cache/babel-loader/29ce5b0167754954c8bd24cde1bb114b.json
ayp-ui/node_modules/.cache/babel-loader/28736dc0026429a7fb06bb755c6e8e7f.json
ayp-ui/node_modules/.cache/babel-loader/283a802ad5e2220aefa46913bb8b41b4.json
ayp-ui/node_modules/.cache/babel-loader/20b14ec95b47cba738dc473fd4d1c95b.json
ayp-ui/node_modules/.cache/babel-loader/20a119753576b40289fb59f0605d4218.json
ayp-ui/node_modules/.cache/babel-loader/1f5e06bb2b4e12bbca6e14ef040b1892.json
ayp-ui/node_modules/.cache/babel-loader/1ec6cdb16eb7c39b2900bc6a7c631be8.json
ayp-ui/node_modules/.cache/babel-loader/1d96e6bcc95cdaf82df2ae2669649402.json
ayp-ui/node_modules/.cache/babel-loader/1a944c3b03f18c1ccda930cede2d3aa6.json
ayp-ui/node_modules/.cache/babel-loader/176e24134819d5ea591c2333607ddd6b.json
ayp-ui/node_modules/.cache/babel-loader/0fe15001ed87af5bc7069d3bf82ead3c.json
ayp-ui/node_modules/.cache/babel-loader/0de2522bbc7e95e787561de6615b09e1.json
ayp-ui/node_modules/.cache/babel-loader/0c25c84de19e0047b826e6e9daf84244.json
ayp-ui/node_modules/.cache/babel-loader/0b847520fc147f8efb7ac320a9aa75bc.json
ayp-ui/node_modules/.cache/babel-loader/063abfae52b2cf3985b4afa922ecbf69.json
ayp-ui/node_modules/.cache/babel-loader/0165e5a9c84de49d49f9f0d60c5689e0.json
ayp-ui/node_modules/.cache/babel-loader/00bea1073c8301f7237a4ee79497e8c8.json
