body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  cursor: pointer;
}
.searchbar form{
  display: flex;
  align-items: center;
}
.searchbar input{
  margin-left: 10px;
}